<div class="accordion-container">
    <div>
        <div class="toggle-btn">
            <div>
                <p>Toggle Accordion By Button</p>
            </div>
            <div>
                <button (click)="handleToggle()">TOGGLE FIRST ITEM</button>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel  [expanded]="toggle" >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Product Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Reviews
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Edit
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>
    
    </div>
    <div>
        <mat-accordion multi="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Product Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Reviews
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Edit
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <p>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>        
    </div>
</div>