<section class="inline-form">
  <h2>Inline form</h2>
  <form>
    <input type="text" placeholder="Jane Doe" />
    <input type="text" placeholder="Email" />
    <div class="checkbox-container">
      <input type="checkbox" />
      <label>Remember me</label>
    </div>
    <input type="submit" value="submit" class="btn-primary" />
  </form>
</section>
<div class="forms-layout">
  <div>
    <section class="using-grid">
      <h2>Using the Grid</h2>
      <form>
        <label>Email</label>
        <input type="Email" />
        <label>Password</label>
        <input type="Password" />
        <label>Radios</label>
        <div>
          <div>
            <input type="radio" name="redio" />
            <label>Option 1</label>
          </div>
          <div>
            <input type="radio" name="redio" />
            <label>Option 2</label>
          </div>
          <div>
            <input type="radio" name="redio" />
            <label>Disabled Option</label>
          </div>
        </div>

        <input type="submit" value="sign in" class="btn-primary" />
      </form>
    </section>
    <section class="form-without-label">
      <h2>Form without labels</h2>
      <form>
        <input type="text" placeholder="Recipients" />
        <input type="text" placeholder="Subject" />
        <textarea rows="4" placeholder="Message"></textarea>
        <input type="submit" value="send" class="btn-sucess" />
      </form>
    </section>
    <section class="horizontal-form">
      <h2>Horizontal form</h2>
      <form>
        <div>
          <label> Email </label>
          <input type="text" placeholder="Email" />
        </div>
        <div>
          <label>Password</label>
          <input type="text" placeholder="Password" />
        </div>
        <div class="checkbox-container">
          <input type="checkbox" />
          <label>Remember me</label>
        </div>
        <input type="submit" value="sign in" class="btn-warning" />
      </form>
    </section>
  </div>
  <div>
    <section class="basic-form">
      <h2>Basic form</h2>
      <form>
        <div>
          <label>Email address</label>
          <input type="text" placeholder="Email" />
        </div>
        <div>
          <label>Password</label>
          <input type="text" placeholder="Password" />
        </div>
        <div class="checkbox-container">
          <input type="checkbox" />
          <label>Check me out</label>
        </div>
        <input type="submit" value="submit" class="btn-danger" />
      </form>
    </section>
    <section class="block-form">
      <h2>Block form</h2>
      <form>
        <div>
          <label>first name</label>
          <input type="text" placeholder="first name" />
        </div>
        <div>
          <label>last name</label>
          <input type="text" placeholder="last name" />
        </div>
        <div>
          <label>email</label>
          <input type="text" placeholder="email" />
        </div>
        <div>
          <label>website</label>
          <input type="text" placeholder="website" />
        </div>
        <input type="submit" value="submit" class="btn-disable" />
      </form>
    </section>
  </div>
</div>
