<div class="list-container">
    <ul>
        <li><b>Some Fruits</b></li>
        <li>Lemons</li>
        <li>Raspberries</li>
        <li>Blackberries</li>
        <li>Kiwis</li>
        <li>Grapefruit</li>
        <li>Avocado</li>
        <li>Watermelon</li>
        <li>Cantaloupe</li>
        <li>Oranges</li>
        <li>Peaches</li>
    </ul>
    <ul>
        <li><b>Users</b></li>
        <li>
            <span>CE</span>
            <div>
                <p>Carla Espinosa</p>
                <p>Nurse</p>
            </div>
        </li>
        <li>
            <span>BK</span>
            <div>
                <p>Bob Kelso</p>
                <p>Doctor of Medicine</p>
            </div>
        </li>
        <li>
            <span>J</span>
            <div>
                <p>Janitor</p>
                <p>Janitor</p>
            </div>
        </li>
        <li>
            <span>PC</span>
            <div>
                <p>Perry COx</p>
                <p>Doctor of Medicine</p>
            </div>
        </li>
        <li>
            <span>BS</span>
            <div>
                <p>Ben Sullivan</p>
                <p>Carpenter and photographer</p>
            </div>
        </li>
    </ul>
</div>