<div class="tabs-container">
    <div class="tab-card">
        <mat-tab-group [@.disabled]="true">
        <mat-tab label="SIMPLE TAB #1">
            <p>
                In 1975, the first general purpose home automation network technology, X10, was developed. It is a communication protocol for electronic devices. It primarily uses electric power transmission wiring for signalling and control, where the signals involve brief radio frequency bursts of digital data, and remains the most widely available.[8] By 1978, X10 products included a 16 channel command console, a lamp module, and an appliance module. Soon after came the wall switch module and the first X10 timer.
            </p>
        </mat-tab>
        <mat-tab label="SIMPLE TAB #2">
            <p> Content #2
            </p>
        </mat-tab>
        <mat-tab label="SIMPLE TAB #3">
            <p>Content #3</p>
        </mat-tab>
        </mat-tab-group>
    </div>
    <div class="tab-card">
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="ROUTE TAB #1">
                <p>
                    In 1975, the first general purpose home automation network technology, X10, was developed. It is a communication protocol for electronic devices. It primarily uses electric power transmission wiring for signalling and control, where the signals involve brief radio frequency bursts of digital data, and remains the most widely available.[8] By 1978, X10 products included a 16 channel command console, a lamp module, and an appliance module. Soon after came the wall switch module and the first X10 timer.
                </p>
            </mat-tab>
            <mat-tab label="ROUTE TAB #2">
                <p>Tab 2 works!</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="tab-card">
    <mat-tab-group [@.disabled]="true" mat-stretch-tabs>
        <mat-tab label="FULL WIDTH TAB #1">
            <p>
                Home automation or smart home[1] (also known as domotics[2]) is building automation for the home. It involves the control and automation of lighting, heating (such as smart thermostats), ventilation, air conditioning (HVAC), and security, as well as home appliances such as washer/dryers, ovens or refrigerators/freezers. Wi-Fi is often used for remote monitoring and control. Home devices, when remotely monitored and controlled via the Internet, are an important constituent of the Internet of Things. Modern systems generally consist of switches and sensors connected to a central hub sometimes called a "gateway" from which the system is controlled with a user interface that is interacted either with a wall-mounted terminal, mobile phone software, tablet computer or a web interface, often but not always via Internet cloud services.
                While there are many competing vendors, there are very few worldwide accepted industry standards and the smart home space is heavily fragmented.[3] Popular communications protocol for products include X10, Ethernet, RS-485, 6LoWPAN, Bluetooth LE (BLE), ZigBee and Z-Wave, or other proprietary protocols all of which are incompatible with each other.[4] Manufacturers often prevent independent implementations by withholding documentation and by litigation.[5]
    
            </p>
        </mat-tab>
        <mat-tab label="FULL WIDTH TAB #2">
            <p>
                Content #2
            </p>
        </mat-tab>
        <mat-tab label="FULL WIDTH TAB #3">
            <p>Content #3</p>
        </mat-tab>
    </mat-tab-group>
</div>