<nav>
    <div>
        <mat-icon [ngStyle]="{fontSize : '26px' , color: 'rgba(0,0,0,.5)'}">fullscreen</mat-icon>
        <mat-icon [ngStyle]="{fontSize : '26px' , color: 'rgba(0,0,0,.5)'}">search</mat-icon>
    </div>
    <div class="profile">
        <mat-icon matBadge="4" matBadgeColor="warn" [ngStyle]="{fontSize : '26px' , color: 'rgba(0,0,0,.5)'}"
    >notifications_none</mat-icon>
        <p>
            <span>John Doe</span>
            <span>Available</span>
        </p>
        <img src="https://demos.pixinvent.com/apex-angular-admin-template/demo-1/assets/img/portrait/small/avatar-s-1.png" class="avatar"/>
        <mat-icon> format_align_right</mat-icon>
    </div>
</nav>