<div>
  <section class="total-values">
    <div class="card-purple">
      <div>
        <h2>
          <p>$2,156</p>
          <span>Total Tax</span>
        </h2>
        <span><img src="https://static.thenounproject.com/png/1058896-200.png" width="20px"/></span>
      </div>
      <p>///</p>
    </div>
    <div class="card-orange">
      <div>
        <h2>
          <p>$15,156</p>
          <span>Total Cost</span>
        </h2>
        <mat-icon>percent</mat-icon>
      </div>
      <p>///</p>
    </div>
    <div class="card-green">
      <div>
        <h2>
          <p>$45,668</p>
          <span>Total Sales</span>
        </h2>
        <mat-icon>trending_up</mat-icon>
      </div>
      <p>///</p>
    </div>
    <div class="card-pink">
      <div>
        <h2>
          <p>$32,454</p>
          <span>Total Earning</span>
        </h2>
        <mat-icon>credit_card</mat-icon>
      </div>
      <p>///</p>
    </div>
  </section>
</div>
