section{

    border-radius: 3px;
    background-color: #fff;
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;

    & > div{
        padding: 15px 20px;
        display: flex;
        gap:15px;
    }

}

h2{
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #f5f5f5;
    padding: 20px;
}

button{
    padding: .8rem 1.2rem;
    font-weight: 500;
    border: none;
    text-transform:uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;


}
.hero-buttons button, .default-buttons button{
    color : #ffff;
}
.hero-button-primary{
    background-image: linear-gradient(to right,#903df4,#6200ee);
}
.hero-button-success{
    background-image: linear-gradient(to right,#8fcf50,#60af20);
}
.hero-button-danger{
    background-image: linear-gradient(to right,#cf3341,#b00020);
}
.hero-button-warning{
    background-image: linear-gradient(to right,#ffbe43,#ff9f05);
}
.hero-button-info{
    background-image: linear-gradient(to right,#40bbf4,#0495ee);
}

.default-button-primary{
    background-color: #6200ee;
}
.default-button-success{
    background-color: #60af20;
}
.default-button-danger{
    background-color: #b00020;
}
.default-button-warning{
    background-color: #ff9f05;
}
.default-button-info{
    background-color: #0495ee;
}


.ghost-buttons{
    &  button{
        background-color: transparent;
    }
    &  button:hover{
        background-color:#efefefef ;
    }
}
.ghost-button-primary{
    color: #6200ee;
}
.ghost-button-success{
    color: #60af20;
}
.ghost-button-danger{
    color: #b00020;
}
.ghost-button-warning{
    color: #ff9f05;
}
.ghost-button-info{
    color: #0495ee;
}
.shapes-buttons{
    & button{
        color: #424242;
    }
    & button:nth-child(2){
        border-radius: 10px;
    }
    & button:last-child{
        border-radius: 30px;
    }
}

.disabled{
    background-color: #e1e1e1 !important;
    color:#838383 !important;
}

.outline-button-primary{
    color: #6200ee;
    border: 1px solid #6200ee;
    background-color: rgba(98, 0, 238 , .08);

    &:hover{
        background-color: rgba(98, 0, 238 , .16);
        
    }
}
.outline-button-success{
    color: #60af20;
    border: 1px solid #60af20;
    background-color: rgba(96, 175, 32 , .08);

    &:hover{
        background-color: rgba(96, 175, 32 , .16);

    }
}
.outline-button-danger{
    color: #b00020;
    border: 1px solid #b00020;
    background-color: rgba(176, 0, 32 , .08);

    &:hover{
        background-color: rgba(176, 0, 32 , .16);
    }
}
.outline-button-warning{
    color: #ff9f05;
    border: 1px solid #ff9f05;
    background-color: rgba(255, 159, 5 , .08);
    &:hover{
        background-color: rgba(176, 0, 32 , .16);
    }
}
.outline-button-info{
    color: #0495ee;
    border: 1px solid #0495ee;
    background-color: rgba(4, 149, 238 , .08);
    &:hover{
    background-color: rgba(4, 149, 238 , .16);

    }
}


.button-size{

    & > div{
     
    display: flex;
    align-items: center;   
    }
    &  button{
        color: #424242;
        width: fit-content;
        height: fit-content;

    }

    & button:first-child{
        font-size: 10px;
    }
    & button:nth-child(2){
        font-size: 12px;
    }
    & button:nth-child(3){
        font-size: 14px;
    }
    & button:nth-child(4){
        font-size: 16px;
    }
    & button:nth-child(5){
        font-size: 18px;
    }

}

.action-groups{
    color:#424242;
    & button{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:8px;
        border-right: 1px solid #ddd;
        border-radius: 0;
        padding: 10px 30px;

    }
    & > div{
        display: flex;
        gap:0;
    }
}

.buttons{
    & button:nth-child(3){
        border: 1px solid black;
    }
    & button:last-child{
        border-radius: 40px;
    }
}