<section class="hero-buttons">
  <h2>Hero Buttons</h2>
  <div>
    <button class="hero-button-primary">primary</button>
    <button class="hero-button-success">success</button>
    <button class="hero-button-info">info</button>
    <button class="hero-button-warning">warning</button>
    <button class="hero-button-danger">danger</button>
    <button class="disabled">disabled</button>
  </div>
</section>
<section class="default-buttons">
  <h2>Default Buttons</h2>
  <div>
    <button class="default-button-primary">primary</button>
    <button class="default-button-success">success</button>
    <button class="default-button-info">info</button>
    <button class="default-button-warning">warning</button>
    <button class="default-button-danger">danger</button>
    <button class="disabled">disabled</button>
  </div>
</section>
<section class="outline-buttons">
  <h2>Outline Buttons</h2>
  <div>
    <button class="outline-button-primary">primary</button>
    <button class="outline-button-success">success</button>
    <button class="outline-button-info">info</button>
    <button class="outline-button-warning">warning</button>
    <button class="outline-button-danger">danger</button>
    <button class="disabled">disabled</button>
  </div>
</section>
<section class="ghost-buttons">
  <h2>Ghost Buttons</h2>
  <div>
    <button class="ghost-button-primary">primary</button>
    <button class="ghost-button-success">success</button>
    <button class="ghost-button-info">info</button>
    <button class="ghost-button-warning">warning</button>
    <button class="ghost-button-danger">danger</button>
    <button class="disabled">disabled</button>
  </div>
</section>
<section class="shapes-buttons">
  <h2>Button shapes</h2>
  <div>
    <button>rectangle</button>
    <button>semi-round</button>
    <button>round</button>
  </div>
</section>
<section class="button-size">
  <h2>Button sizes</h2>
  <div>
    <button>tiny</button>
    <button>small</button>
    <button>medium</button>
    <button>large</button>
    <button>giant</button>
  </div>
</section>
<section class="action-groups">
  <h2>Action Groups</h2>
  <div>
    <button><mat-icon>dehaze</mat-icon></button>
    <button><mat-icon>search</mat-icon></button>
    <button><mat-icon> mail_outline</mat-icon></button>
    <button><mat-icon>notifications_none</mat-icon></button>
    <button><mat-icon>settings</mat-icon></button>
  </div>
</section>
<section class="action-groups">
  <div>
    <button>
      <mat-icon>pause</mat-icon>
      <span>Pause</span>
    </button>
    <button>
      <mat-icon>list</mat-icon>
      <span>Logs</span>
    </button>
    <button>
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <button>
      <mat-icon>settings</mat-icon>
      <span>Setup</span>
    </button>
  </div>
</section>
<section class="buttons">
  <div>
    <button>Basic</button>
    <button>raised</button>
    <button >stroked</button>
    <button>flat</button>
    <button >fab</button>
  </div>
</section>
